<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>'Its  my Virgin-site)'</title>
    <link rel="stylesheet" href="styles/styless.css" type="text/css">
    <!-- Uncomment the following line to use bootstrap -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> -->
    <link rel="stylesheet"  href="http://fonts.googleapis.com/css?family=Open+Sans" type="text/css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Xanh+Mono&display=swap" rel="stylesheet">
</head>
<body>
    <h1><strong>Hello there, bitch</strong></h1>
    <h2>I dont like you</h2>

    {% block body%} {% endblock %}
    
    <img src="images/pel.jpg" alt="В следующий раз повезет">
    <p>
        In love with not you
    </p>
</body>
</html>
