<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>'Its  my Virgin-site)'</title>
    <link rel="stylesheet" href="styles/styless.css" type="text/css">
    <link rel="stylesheet"  href="http://fonts.googleapis.com/css?family=Open+Sans" type="text/css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Xanh+Mono&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body>
    <h1><strong>Hello there, bitch</strong></h1>
    <h2>I dont like you</h2>
    <a href="https://www.youtube.com/watch?v=7uffAE_S5yI&list=PL5JtEXq89gaNj800JXjG3bRTVYpF5TBbn&index=3&ab_channel=LIZER">
        You dont need this anymore
    </a>
    <p> What is your power? </p>
    <ol>
        <li>Heart</li>
        <li>Penis</li>
        <li>Mouth</li>
    </ol>


    <img src="images/pel.jpg" alt="В следующий раз повезет">
    <p>
        In love with not you
    </p>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>
</html>
