<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>'Its  my Virgin-site)'</title>
    <link rel="stylesheet" href="styles/styless.css" type="text/css">
    <link rel="stylesheet"  href="http://fonts.googleapis.com/css?family=Open+Sans" type="text/css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Xanh+Mono&display=swap" rel="stylesheet">
</head>
<body>
<h1><strong>Hello there, bitch</strong></h1>
<h2>I dont like you</h2>
<a href="https://www.youtube.com/watch?v=7uffAE_S5yI&list=PL5JtEXq89gaNj800JXjG3bRTVYpF5TBbn&index=3&ab_channel=LIZER">
    You dont need this anymore
</a>
<p> What is your power? </p>
<ol>
    <li>Heart</li>
    <li>Penis</li>
    <li>Mouth</li>
</ol>


<img src="images/pel.jpg" alt="В следующий раз повезет">
<p>
In love with not you
</p>
</body>
</html>