html {
    font-size: 20px;
    font-family: 'Xanh Mono', monospace;
}
html {
    font-size: 20px;
    text-align: center;
}
h1 {
    font-size: 50px;
    margin: 0;
    padding:20px 0;
    color: skyblue;
    text-shadow:3px 3px 1px black;
}
a:hover{
    color: aqua;
}

h2 {
    line-height: 3;
    letter-spacing: 5px;
}

html{
    background-color: skyblue;
}

body{
    width: 600px;
    margin: 0 auto;
    background-color: cadetblue;
    padding: 0 20px 20px 20px;
    border: 10px solid black;
}

img {
    display: block;
    margin: 0 auto;
}

li{
    list-style-position: inside;
}

ol{
    display: block;
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}
